# Run in test mode with a dummy vault (true/false)
TEST_MODE=true

# Web UI Password
VNC_PASSWORD=your_strong_password_here

# Git Configuration
GIT_REPO_URL=git@github.com:shanehull/secondbrain.git
# Provide the private key as a base64 string
SSH_PRIVATE_KEY=

# Obsidian REST API Key (Get this from the plugin settings after first run)
OBSIDIAN_API_KEY=
