# Run in test mode with a dummy vault (true/false)
TEST_MODE=true

# Web UI Password
VNC_PASSWORD=your_strong_password_here

# GitHub Configuration
GIT_REPO_URL=git@github.com:shanehull/secondbrain.git

# GitHub Personal Access Token (classic) with 'repo' scope
GITHUB_PAT=

# Obsidian REST API Key (Get this from the plugin settings after first run)
OBSIDIAN_API_KEY=
